* {
    box-sizing: border-box;
    font-family: 'Alegreya SC', serif;
}

html,
body {
    height: 100%;
    background-color: lightslategray;
    margin: auto;
    width: 95%;
}

h1 {
    width: 100%;
    text-align: center;
}

.controlHolder {
    text-align: center;
    padding: 1%;
}

.directionInput {
    width: 50%;
    margin-bottom: 1%;
}

#directionSubmit {
    width: 50%;
}



#js-direction-form {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100px;
}

.directionListItem {
    border: 1px solid black;
}

@media only screen and (min-width: 640px) {
    .visualHolder {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2%;
    }

    .chartHolder {
        width: 75%;
    }
    .directionListItem {
        border: 1px solid black;
    }
    .directionListItem:hover {
        background-color: white;
        cursor: pointer;
    }
}