* {
    box-sizing: border-box;
    font-family: 'Alegreya SC', serif;
}

html,
body {
    height: 100%;
    background-color: lightslategray;
    margin: auto;
    width: 95%;
}

h1 {
    width: 100%;
    text-align: center;
}

.controlHolder {
    text-align: center;
    padding: 1%;
}

.directionInput {
    width: 100%;
    height: 40px;
    margin-bottom: 1%;
}

#directionSubmit {
    width: 100%;
}

.js-clearResults {
    width: 100%;
}



/* #js-direction-form {
    width: 100%;
    margin: auto;
    text-align: center;
} */

.directionListItem {
    border: 1px solid black;
}

@media only screen and (min-width: 640px) {
    .visualHolder {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2%;
    }

    .chartHolder {
        width: 75%;
    }
    .directionListItem {
        border: 1px solid black;
    }
    .directionListItem:hover {
        background-color: white;
        cursor: pointer;
    }

    .controlHolder {
        text-align: center;
        padding: 1%;
    }

    #js-direction-form {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #js-direction-form 
    .directionInput,
    #directionSubmit,
    .js-clearResults {
        margin: auto auto 2% auto;
    }

    .directionInput {
        width: 50%;
        height: 35px;
    }
    
    #directionSubmit {
        width: 40%;
        height: 40px;
    }
    
    .js-clearResults {
        width: 35%;
        border: 1px solid red;
        background-color: black;
        color: white;
    }
}